html,
body,
.container {
  height: 100%;
}

body {
  background: url("../images/bg.png");
}

.panel-login {
  width: 20%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.header {
  text-align: center;
}